/* default styling */

*{
    margin: 0;
    padding: 0;
}

/* body defualf setting */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 255, 102, 120, 0.1);
}

/* header styling starts from here */

header{
    top: 0;
    position: absolute;
}

header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 20px;
}

/* header styling ends here */

/* Form Card styling starts here */

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 10rem;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    width: 400px;
    height: fit-content;
    background: #6a5acd;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 8px black;
    border-radius: 20px;
    padding: 20px;
}

/* basic form styling */
.register > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register > form > label{
    padding: 5px;
    align-self: flex-start;
}
.register > form > input{
    padding: 5px;
    border-radius: 20px;
    border: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #4b0082;
  outline: none;
  box-shadow: 0 0 0 1px #4b0082;
}

.register > form >p{
    align-self: flex-start;
}

/* submit button styling */
.register > form > button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

/* form card styling ends here */