/* default styling */

*{
    margin: 0;
    padding: 0;
}

/* body defualf setting */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 255, 102, 120, 0.1);
}

/* header styling starts from here */

header{
    top: 0;
    position: absolute;
}

header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 20px;
}

/* header styling ends here */

/* Form Card styling starts here */

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20rem;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgb(193, 193, 193);
    backdrop-filter: blur(10px);
}