/* default code */
* {
    padding: 0;
    margin: 0;
}

/* body style */

body {
    width: 100%;
    background: #f1f1f1;
}

/* header styling */

header{
    width: 100%;
    height: max-content;
}

/* navigation bar styling  starts here*/

nav{
    height: max-content;
    width: 100%;
    top: 0;
    padding: 10px;
    position: fixed;
    gap: 20;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px;
    filter: drop-shadow(10px );
    z-index: 1;
}

.navbar.blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
}

/* nav logo styling */

.logo > img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 30%;
}

/* navigation list */

nav > ul{
    position: absolute;
    display: flex;
    align-items: center;
    right: 6%;
    gap: 30px;
    list-style: none;
}


nav > ul > li{ 
    color: #ffffff;
}

nav > ul > a{
    text-decoration: none;
    color: #ffffff;
}

/* order button */
nav > ul > button{
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: transparent;
}

/* hero section starts here */

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./Asset/ChatGPT\ Image\ Sep\ 19\,\ 2025\,\ 11_23_16\ PM.png);
    background-position-y: 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* hero section typography style */

.hero > h1{
    color: #ffffff;
    text-shadow: 1px 1px 0px black;
}

.hero > h1 > span {
    color: #ffd700;
    font-size: 3rem;
    text-shadow: 1px 1px 0px black;
    text-decoration: underline;
}

.hero > p{
    color: wheat;
    font-weight: 900;
    padding: 5px;
    font-style: italic;
    font-size: large;
    text-shadow: 0px 0px 2px black;

}

/* hero typo menu link */

.hero > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.hero > a:hover{
    background-color: #ffffff;
    color: black;
}

/* Offer section styling  starts from here */

.Offers{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Combo cards */

.offercard{
    width: 90%;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0.1px 0.8px black;
    border: 1px;
    border-radius: 20px;

}

.offercard > img{
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: 8%;
}

.offercard > ul{
    position: absolute;
    right: 14%;
    top: 5rem;
    font-size: larger;
    text-transform: capitalize;
    font-weight: 400;
}

/* Offer Heading */

.offercard > h2{
    position: absolute;
    color: #ffd700;
    text-shadow: 0.8px 0.8px 0px black;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    right: 22%;
    top: 24rem;
}

/* Second Card styling */

.offercard2{
    width: 90%;
    height: 500px;
    top: 75rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0.1px 0.8px black;
    border: 1px;
    border-radius: 20px;
}

.offercard2 > img{
    width: 22rem;
    height: 28rem;
    position: absolute;
    right: 8%;
}

.offercard2 > ul{
    position: absolute;
    left: 14%;
    top: 5rem;
    font-size: larger;
    text-transform: capitalize;
    font-weight: 400;
}

.offercard2 > h2{
    position: absolute;
    color: #ffd700;
    text-shadow: 0.8px 0.8px 0px black;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    left: 16%;
    top: 26rem;
}