/* default code */
* {
    padding: 0;
    margin: 0;
}

/* body style */

body {
    width: 100%;
    background: #f1f1f1;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

/* header styling */

header{
    width: 100%;
    height: max-content;
}

/* navigation bar styling  starts here*/

nav{
    height: max-content;
    width: 100%;
    top: 0;
    padding: 10px;
    position: fixed;
    gap: 20;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px;
    filter: drop-shadow(10px );
    z-index: 1;
}

.blur-navbar {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.blur-navbar a,
.blur-navbar .nav-link,
.blur-navbar .navbar-text{
  color: black;
}
.blur-navbar .btn {
  color: black;
  border: 1px solid black;
}
.blur-navbar #navbar-logo {
  height: 40px;
  transition: all 0.3s ease;
}

/* nav logo styling */

.logo > a > img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 30%;
}

/* navigation list */

nav > ul{
    position: absolute;
    display: flex;
    align-items: center;
    right: 6%;
    gap: 30px;
    list-style: none;
}


nav > ul > li{ 
    color: #ffffff;
}

nav > ul > a{
    text-decoration: none;
    color: #ffffff;
}

/* order button */
nav > ul > a > button{
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: transparent;
}

/* hero section starts here */

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./Asset/ChatGPT\ Image\ Sep\ 19\,\ 2025\,\ 11_23_16\ PM.png);
    background-position-y: 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* hero section typography style */

.hero > h1{
    color: #ffffff;
    text-shadow: 1px 1px 0px black;
}

.hero > h1 > span {
    color: #ffd700;
    font-size: 3rem;
    text-shadow: 1px 1px 0px black;
    text-decoration: underline;
}

.hero > p{
    color: wheat;
    font-weight: 900;
    padding: 5px;
    font-style: italic;
    font-size: large;
    text-shadow: 0px 0px 2px black;

}

/* hero typo menu link */

.hero > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.hero > a:hover{
    background-color: #ffffff;
    color: black;
}

/* Offer section styling  starts from here */

.Offers{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Combo cards */

.offercard{
    width: 90%;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0.1px 0.8px black;
    border: 1px;
    border-radius: 20px;

}

.offercard > img{
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: 8%;
}

.offercard > ul{
    position: absolute;
    right: 14%;
    top: 5rem;
    font-size: larger;
    text-transform: capitalize;
    font-weight: 400;
}

/* Offer Heading */

.offercard > h2{
    position: absolute;
    color: #ffd700;
    text-shadow: 0.8px 0.8px 0px black;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    right: 22%;
    top: 24rem;
}

/* Second Card styling */

.offercard2{
    width: 90%;
    height: 500px;
    top: 75rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0.1px 0.8px black;
    border: 1px;
    border-radius: 20px;
}

.offercard2 > img{
    width: 22rem;
    height: 28rem;
    position: absolute;
    right: 8%;
}

.offercard2 > ul{
    position: absolute;
    left: 14%;
    top: 5rem;
    font-size: larger;
    text-transform: capitalize;
    font-weight: 400;
}

.offercard2 > h2{
    position: absolute;
    color: #ffd700;
    text-shadow: 0.8px 0.8px 0px black;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    left: 16%;
    top: 24rem;
}

/* Offer section styling ends here */


/* Menu section styling starts here */

.Menu{
    width: 100%;
    height: 700px;
    background-color: #29190c;
    top: 55rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 0;
}

/* Menu container styling */

.Menu-container{
    width: 90%;
    height: max-content;
    background-color: #f1f1f1;
    position: absolute;
    top: -15%;
    border-radius: 20px;
    box-shadow: 0px 0.1px 0.8px black;
    gap: 4rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    padding: 20px;
}

/* Menu card styling */

.menu-list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    box-shadow: 0px 0.1px 0.8px black;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.menu-list > img{
    width: 100px;
    height: 80px;
    justify-self: flex-start;
}

.menu-list > p{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.menu-list > a > button{
    padding: 10px;
    background-color: #ffffff;
    border: 0.2px solid black;
    box-shadow: 0px 0.1px 0.8px black;
    border-radius: 20px;
    cursor: pointer;
}

/* Menu section ends here */

/* About section styling starts here */

.Choose-Us{
    width: 100%;
    height: 100vh;
    top: 60rem;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

/* card one styling */

.delivery{
    background-color: #29190c;
    box-shadow: 0px 0.2px 0.6px wheat;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}

.delivery > img{
    width: 80px;
    height: 60px;
    position: relative;
    top: -10%;
}

.delivery > h3{
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 20px;
}

.delivery > p{
    font-size: medium;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 40px;
}

/* card two styling */
.ingredients{
    background-color: #29190c;
    box-shadow: 0px 0.2px 0.6px wheat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}
.ingredients > img{
    width: 50px;
    height: 50px;
    position: relative;
    top: -8%;
}

.ingredients > h3{
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 20px;
}

.ingredients > p{
    font-size: medium;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 40px;
}

/* card three styling */

.support{
    background-color: #29190c;
    box-shadow: 0px 0.2px 0.6px wheat;
    border-radius: 0px 20px 20px 0px ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
}

.support > img{
    width: 50px;
    height: 50px;
    position: relative;
    top: -10%;
}

.support > h3{
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 20px;
}


.support > p{
    font-size: medium;
    text-align: center;
    position: relative;
    color: #ffffff;
    top: 40px;
}

/* About section ends here */


/* Call-in-Action section styling starts here */


.call-action{
    width: 100%;
    height: 100vh;
    top: 60rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-action > img {
    width: 700px;
    height: 450px;
    left: -15%;
    top: 10%;
    position: relative;
    border-radius: 20px 0px 0px 20px ;
    box-shadow: 0px 0px 1px black;
}

/* Order card styling */

.Order{
    width:450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    top: 22.1%;
    right: 8%;
    position: absolute;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 1px black;
}

.Order > h1{
    font-style: italic;
    font-size: 3rem;
    color: #29190c;
    position: relative;
    top: -5%;
}

.Order > a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 20px;
    border-radius: 40px;
}

.Order > a:hover{
    background-color: #f1f1f1;
}

/* order section styling ends here */

/* Contact Section starts here */

.Contact{
    width: 100%;
    height: max-content;
    padding-top: 40px;
    padding-bottom: 20px;
    top: 65rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact form and other styling */

.contact-form{
    width: 60rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 1px black;
}

.contact-form > h2{
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: -10%;
}

.contact-form > p{
    font-size: medium;
    font-weight: 700;
    position: relative;
    text-align: center;
    top: -8%;
}

/* form styling starts here  */

.contact-form > .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form > input{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px black;
    border-radius: 20px;
    margin: 5px;
}

.form > textarea{
    width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 1px black;
    resize: none;
    overflow-y: auto;
}

.form > button { 
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
}

.form > button:hover{
    background-color: #f1f1f1;
}

/* Contact section ends here  */

/* footer styling starts here */

footer{
    position: relative;
    background-color: #29190c;
    bottom: 0;
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 70rem;
}

footer > p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

footer > div > p{
    color: #ffffff;
    padding-left: 40px;
}

.Information > p > a{
    text-decoration: none;
    color: #ffffff;
}

.Information > p > a:hover{
    color: #000000;
}

/* footer styling ends here  */